@{
    ViewData["Title"] = "FileConverter";
}

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>

<form method="post" enctype="multipart/form-data" id="uploadForm" >
    <div class="grid-container">
        <div>
            <label for="fileInput" class="file-upload-label">
                <span id="fileLabel">Upload File</span>
                <input type="file" name="file" id="fileInput" hidden  />
            </label>
            <span id="selectedFileName"></span> 

            <input type="text" name="filename" id="filenameInput" hidden />
            </br>
            </br>
            <button type="submit" class="btn btn-primary" id="convertButton" id="convertButton" disabled>Convert And Upload</button>
        </div>
        <div>
            <input type="checkbox" name="convertertype" id="isPublicCheckbox" value="XmlToJsonConverter" />
            <label for="isPublicCheckbox">XmlToJsonConverter</label>
        </div>
    </div>
</form>